@import './variables';
@import 'bootstrap/scss/bootstrap';

body {
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  font-family: var(--font-geist-sans);
	transition: background 0.6s ease-in-out;
}

.navbar {
  background-color: var(--navbar-bg) !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);

  .nav-link {
    color: var(--bs-body-color);
    transition: color 0.2s ease-in-out;

    &.active,
    &:hover {
      color: var(--bs-primary);
      text-decoration: underline;
    }
  }
}

.card {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}

.weather-clear {
  //background: linear-gradient(to bottom, #f1da36, #ffffff) no-repeat; // нежно-голубой к белому
  //color: #1e2a32;

	background: linear-gradient(to bottom, #d8c850, #ffffff);
  background-attachment: fixed;
}

.weather-rain {
  background: linear-gradient(to bottom, #9ecdf2, #ffffff) no-repeat;
  color: #223;
}

.weather-clouds {
  background: linear-gradient(to bottom, #616f79, #ffffff) no-repeat;
  color: #333;
}

.weather-snow {
  background: linear-gradient(to bottom, #f0f8ff, #ffffff) no-repeat;
  color: #1a1a1a;
}

.weather-thunderstorm {
  background: linear-gradient(to bottom, #32274d, #ffffff) no-repeat;
  color: #333;
}

@keyframes flash-bg {
  0%, 100% {
    background-color: #333;
  }
  50% {
    background-color: #555;
  }
}

