:root {
	--bs-body-bg: #f0f4f8;
	--bs-body-color: #1e2a32;

	--bs-primary: #2196f3;
	--bs-secondary: #90a4ae;
	--bs-success: #4caf50;
	--bs-danger: #f44336;
	--bs-warning: #ff9800;
	--bs-info: #03a9f4;
	--bs-light: #ffffff;
	--bs-dark: #263238;

	--navbar-bg: rgba(255, 255, 255, 0.4);
	--card-bg: #ffffff;
	--link-hover: #1976d2;


}
