.wrapper {
	height: 300px;
	background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(8px);
  border-radius: 2rem;
  padding: 2rem;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
	margin-bottom: 1rem;
}

@media (max-width: 540.5px) {
	.wrapper {
		height: 400px;
		padding: 0rem;
	}
	
}